.logo{
    height: 50px;
    width: 350px;
}
.ayrac{
    font-size:20px;
    margin: 0 20px ;
}

   

.nav-item a{
font-size: 20px;
font-family: "Oswald" , sans-serif;
font-weight: bold;
}

.nav-item a:hover{
    color: orange;

}


body{
    background-image: url(Resimler/abstract-background-white-and-gray-diagonal-stripes-lines-3d-cover-of-business-presentation-banner-web-vector.jpg);
    height: 100vh;
    width: 100%;
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.metin{
    background-color: aliceblue;
}
.content {
    margin-top: 100px;
  }
  
.hobi .card{
    margin-right:3px;
}
.linkler a{
    color: black;
    text-decoration: none;  
}
.linkler a:hover{
    color:orange;

}
 .arka-plan{

background-image: url(Resimler/sehrimfoto.jpg);
background-size:cover;
background-position: center center;
background-repeat: no-repeat;
background-attachment: fixed;
width: 100%;
height: 700px;
}
.arka-plan img{
    width: 550px;
    margin-top: 550px;
}

.ilkyerlesimyeri-foto{
    width: 350px;
    height: 350px;
    float: left;
    margin-right: 5px;
    
}
.osmanlizamani{
    margin-top: 50px;
}
.millimücadele-foto{
    float: left;
    margin-right: 5px;
}
.aizanoi{
    width: 100%;
    height: 500px;
    margin-top: 3px;
    margin-bottom: 3px;
}
.konak{
    width: 550px;
    height:450px;
    
}
